<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>The Alpha World</title>
    <style>
        .body-style {
            background: rgba(128, 128, 128, 0.4);
        }
        .login-card {
            width: 350px;
            height: 400px;
            background: rgba(60, 88, 94, 0.91);
            border-radius: 20px;
        }
        .login-btn {
            background: rgba(46, 45, 45, 0.9);
            color: white;
            border-radius: 20px;
        }
    </style>
</head>
<body class="body-style">
    <section class="login-section mt-3">
        <div>
            {% if error %}
                <div style="z-index: 9999;" class="col-md-12 alert alert-danger alert-dismissible mx-auto position-absolute top-0 start-0 end-0" role="alert">
                    {{ error }}
                    <span style="float: right; cursor: pointer; font-size: 20px;" aria-hidden="true" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endif %}
            {% if success %}
                <div style="color: white; z-index: 9999;" class="col-md-12 alert alert-success alert-dismissible mx-auto position-absolute top-0 start-0 end-0" role="alert">
                    {{ success }}
                    <span style="float: right; cursor: pointer; font-size: 20px;" aria-hidden="true" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endif %}
        </div>

        <div class="row m-0">
            <div class="mx-auto my-5">
                <div class="card login-card">
                    <div class="card-body py-5">
                        <h4 class="font-weight-bolder text-center mt-2 mb-4">Login</h4>
                        <form method="post" action="/home/">
                            <div class="input-group input-group-outline my-3">
                                <input type="text" name="user_name" placeholder="User Name" class="form-control" required>
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <input type="email" name="email" placeholder="Email" class="form-control" required>
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <input type="password" name="password" placeholder="Password" class="form-control" required>
                            </div>

                            <div class="text-center my-5">
                                <button type="submit" class="btn w-50 login-btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          var errorAlerts = document.querySelectorAll(".alert-danger");
          var successAlerts = document.querySelectorAll(".alert-success");

          errorAlerts.forEach(function (errorAlert) {
              setTimeout(function () {
                  errorAlert.style.display = "none";
              }, 2000);
          });

          successAlerts.forEach(function (successAlert) {
              setTimeout(function () {
                  successAlert.style.display = "none";
              }, 2000);
          });
        });
    </script>
</body>
</html>